<!-- TODO: make this a partial -->

<div class = "section group">


  <div class = "col span_1_of_2">
    <h3><%= @project.title %></h3>
    <h4><%= @project.logline %></h4>
    <%= link_to "Edit", "/users/#{current_user.id}/projects/#{@project.id}/edit" %>
    <%= link_to("Destroy", "/users/#{current_user.id}/projects/#{@project.id}", method: :delete) %>


    <ol>
    <p>
    	<% @project_entries.each do |entry| %>
        <li>

          <h4><%= link_to entry.content, "/users/#{current_user.id}/entries/#{entry.id}" %></h4>

          <%= form_tag("/users/#{current_user.id}/projects/#{@project.id}/entries/#{entry.id}/rearrange", method: "get") do %>
            <%= text_field_tag(:new_pos) %>
              <%= hidden_field_tag(:entry_to_move, entry.id) %>
            <%= submit_tag("Move To") %>
          <% end %>
          <%= link_to("REMOVE FROM PROJECT", "/users/#{current_user.id}/joiners/#{entry.id}", method: :delete) %>
    		</li>
    	<% end %>
    </p>
    </ol>
  </div>

  <div class = "col span_1_of_2">
    <h4>UNUSED ENTRIES</h4>
    <ul class="entries">

      <% @unused_entries.each do |entry| %>
        <li>
    	    <h5><%= entry.category %></h5>

    	    <h4><%= link_to entry.content, "/users/#{current_user.id}/entries/#{entry.id}" %></h4>

          <%= form_for @joiner, url: "/users/#{current_user.id}/joiners", method: "post" do |f| %>
            <%= f.hidden_field :project_id, value: @project.id %>
            <%= f.hidden_field :entry_id, value: entry.id %>        
            <%= f.hidden_field :rating, value: 0 %>
            <%= f.submit "ADD TO PROJECT" %>

          <% end %>


        </li>
      <% end %>
    </ul>
  </div>
</div>

