<!-- TODO: make this a partial -->



<h3><%= @project.title %></h3>
<h4><%= @project.logline %></h4>
<%= link_to "Edit", "/users/#{current_user.id}/projects/#{@project.id}/edit" %>
<%= link_to("Destroy", "/users/#{current_user.id}/projects/#{@project.id}", method: :delete) %>

<p>
	<% @project.entries.each do |entry| %>
    <li>
    <p><%= link_to entry.content, "/users/#{current_user.id}/entries/#{entry.id}" %></p>
		</li>
	<% end %>
</p>

<h4>UNUSED ENTRIES</h4>
<ul class="entries">
  <% @unused_entries.each do |entry| %>
    <li>
	    <h5><%= entry.category %></h5>

	    <p><%= link_to entry.content, "/users/#{current_user.id}/entries/#{entry.id}" %></p>


    </li>
  <% end %>
</ul>



